<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IWFService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://192.168.0.250:8888/WFService" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IWFService" contract="WFService.IWFService"
                name="BasicHttpBinding_IWFService" />
        </client>
    </system.serviceModel>
</configuration>